<h1>
    Authors
    <a href = '/logout' class = 'button'>Logout</a>
</h1>

<div id = 'showAuthor' class = 'initiallyHide'>
    <h3>
        <span id = 'name'></span>
        <a href = '#' class = 'back button float-right' toHide = 'showAuthor'>Back</a>
    </h3>
    <div class = 'row'>
        <div class = 'small-3 columns'>
            Website:
        </div>
        <div class = 'small-9 columns' id = 'website'>
        </div>
    </div>
</div>

<div id = 'editAuthor' class = 'initiallyHide'>
    <h3>
        Edit Author
        <a href = '#' class = 'back button float-right' toHide = 'editAuthor'>Back</a>
    </h3>
    <div class = 'error'></div>
    <form id = 'updateAuthor'>
        <label for = 'name'>Name</label>
        <input type = 'text' name = 'name' formId = 'updateAuthor' class = 'name' maxlength = '50' required = 'required' />

        <label for = 'website'>Website</label>
        <input type = 'text' name = 'website' formId = 'updateAuthor' class = 'website' maxlength = '50' />

        <input type = 'submit' formId = 'updateAuthor' class = 'update button float-right' value = 'Update Author' />
    </form>
</div>

<div id = 'newAuthor' class = 'initiallyHide'>
    <h3>
        New Author
        <a href = '#' class = 'back button float-right' toHide = 'newAuthor'>Back</a>
    </h3>
    <div class = 'error'></div>
    <form id = 'createAuthor'>
        <label for = 'name'>Name</label>
        <input type = 'text' name = 'name' formId = 'createAuthor' class = 'name' maxlength = '50' required = 'required' />

        <label for = 'website'>Website</label>
        <input type = 'text' name = 'website' formId = 'createAuthor' class = 'website' maxlength = '50' />

        <input type = 'submit' formId = 'createAuthor' class = 'create button float-right' value = 'Create Author' />
    </form>
</div>

<div id = 'authors'>
    <h3>
        List of Authors
        <a href = '#' class = 'new button float-right'>New Author</a>
    </h3>
    <form id = 'searchAuthors'>
        <div class = 'row'>
            <div class = 'small-6 columns'>
                <label>
                    Name
                    <input type = 'text' formId = 'searchAuthors' name = 'name' />
                </label>
            </div>

            <div class = 'small-6 columns'>
                <label>
                    Website
                    <input type = 'text' formId = 'searchAuthors' name = 'website' />
                </label>
            </div>
        </div>
        <div class = 'row'>
            <div class = 'small-12 columns'>
                <input type = 'submit' formId = 'searchAuthors' class = 'search button float-right' value = 'Search' />
            </div>
        </div>
    </form>
    <div id = 'authorsTable'>
    </div>
</div>

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/what-input.js"></script>
<script src="/js/dependencies/foundation.min.js"></script>
<script src="/js/formatter.js"></script>
<script src="/js/array.js"></script>
<script src="/js/button.js"></script>
<script src="/js/table.js"></script>
<script src="/js/rest-view.js"></script>
<!--SCRIPTS END-->
<script src="/js/authors-view.js"></script>
