<h1>
  Books
  <a href = '/logout' class = 'button'>Logout</a>
</h1>

<div id = 'showBook' class = 'initiallyHide'>
  <h3>
    <span id = 'title'></span>
    <a href = '#' class = 'back button float-right' toHide = 'showBook'>Back</a>
  </h3>
  <div class = 'row'>
    <div class = 'small-3 columns'>
      Written by:
    </div>
    <div class = 'small-9 columns' id = 'author'>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'small-3 columns'>
      Published by:
    </div>
    <div class = 'small-9 columns' id = 'publisher'>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'small-3 columns'>
      ISBN (10):
    </div>
    <div class = 'small-9 columns' id = 'isbn10'>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'small-3 columns'>
      ISBN (13):
    </div>
    <div class = 'small-9 columns' id = 'isbn13'>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'small-3 columns'>
      Published At:
    </div>
    <div class = 'small-9 columns' id = 'publishedAt'>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'small-3 columns'>
      Genre/s:
    </div>
    <div class = 'small-9 columns'>
      <ul id = 'genres'>
      </ul>
    </div>
  </div>
</div>

<div id = 'editBook' class = 'initiallyHide'>
  <h3>
    Edit Book
    <a href = '#' class = 'back button float-right' toHide = 'editBook'>Back</a>
  </h3>
  <div class = 'error'></div>
  <form id = 'updateBook'>
    <label for = 'title'>Title</label>
    <input type = 'text' name = 'title' formId = 'updateBook' class = 'title' maxlength = '50' required = 'required' />

    <label for = 'author'>Author</label>
    <select name = 'author' formId = 'updateBook' class = 'createBook authors' required = 'required'>
    </select>

    <label for = 'publisher'>Publisher</label>
    <select name = 'publisher' formId = 'updateBook' class = 'publishers' required = 'required'>
    </select>

    <label for = 'publishedAt'>Published At</label>
    <input type = 'date' name = 'publishedAt' formId = 'updateBook' class = 'publishedAt' required = 'required' />

    <label for = 'isbn10'>ISBN (10)</label>
    <input type = 'text' maxlength = '10' name = 'isbn10' formId = 'updateBook' class = 'isbn10' minlength = '10' maxlength = '10' required = 'required' />

    <label for = 'isbn13'>ISBN (13)</label>
    <input type = 'text' maxlength = '13' name = 'isbn13' formId = 'updateBook' class = 'isbn13' minlength = '13' maxlength = '13' required = 'required' />

    <label for = 'genres'>Genres</label>
    <div formId = 'updateBook' class = 'genres'></div>

    <input type = 'submit' formId = 'updateBook' class = 'update button float-right' value = 'Submit Book' />
  </form>
</div>

<div id = 'newBook' class = 'initiallyHide'>
  <h3>
    New Book
    <a href = '#' class = 'back button float-right' toHide = 'newBook'>Back</a>
  </h3>
  <div class = 'error'></div>
  <form id = 'createBook'>
    <label for = 'title'>Title</label>
    <input type = 'text' name = 'title' formId = 'createBook' class = 'title' maxlength = '50' required = 'required' />

    <label for = 'author'>Author</label>
    <select name = 'author' formId = 'createBook' class = 'createBook authors' required = 'required'>
    </select>

    <label for = 'publisher'>Publisher</label>
    <select name = 'publisher' formId = 'createBook' class = 'publishers' required = 'required'>
    </select>

    <label for = 'publishedAt'>Published At</label>
    <input type = 'date' name = 'publishedAt' formId = 'createBook' class = 'publishedAt' required = 'required' />

    <label for = 'isbn10'>ISBN (10)</label>
    <input type = 'text' maxlength = '10' name = 'isbn10' formId = 'createBook' class = 'isbn10' minlength = '10' maxlength = '10' required = 'required' />

    <label for = 'isbn13'>ISBN (13)</label>
    <input type = 'text' maxlength = '13' name = 'isbn13' formId = 'createBook' class = 'isbn13' minlength = '13' maxlength = '13' required = 'required' />

    <label for = 'genres'>Genres</label>
    <div formId = 'createBook' class = 'genres'></div>

    <input type = 'submit' formId = 'createBook' class = 'create button float-right' value = 'Create Book' />
  </form>
</div>

<div id = 'books'>
  <h3>
    List of Books
    <a href = '#' class = 'new button float-right'>New Book</a>
  </h3>
  <form id = 'searchBooks'>
    <div class = 'row'>
      <div class = 'small-3 columns'>
        <label>
          Title
          <input type = 'text' formId = 'searchBooks' name = 'title' />
        </label>
      </div>

      <div class = 'small-3 columns'>
        <label>
          Author
          <input type = 'text' formId = 'searchBooks' name = 'author' />
        </label>
      </div>

      <div class = 'small-3 columns'>
        <label>
          Publisher
          <input type = 'text' formId = 'searchBooks' name = 'publisher' />
        </label>
      </div>

      <div class = 'small-3 columns'>
        <label>
          Genre
          <input type = 'text' formId = 'searchBooks' name = 'genre' />
        </label>
      </div>
    </div>
    <div class = 'row'>
      <div class = 'small-12 columns'>
        <input type = 'submit' formId = 'searchBooks' class = 'search button float-right' value = 'Search' />
      </div>
    </div>
  </form>
  <div id = 'booksTable'>
  </div>
</div>

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/what-input.js"></script>
<script src="/js/dependencies/foundation.min.js"></script>
<script src="/js/formatter.js"></script>
<script src="/js/array.js"></script>
<script src="/js/button.js"></script>
<script src="/js/table.js"></script>
<script src="/js/rest-view.js"></script>
<!--SCRIPTS END-->
<script src="/js/books-view.js"></script>
